{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans 'Form Tools' %}{% endblock %}

{% block header %}
{{ block.super }}
<h2>{% trans 'Form Tools' %}</h2>
{% endblock %}

{% block main %}
<p>{% blocktrans %}Demos of the contrib form tools.{% endblocktrans %}</p>

<ul>
    <li><a href="{% url form-wizard %}">{% trans 'Form Wizard' %}</a></li>
    <li><a href="http://docs.djangoproject.com/en/1.2/ref/contrib/formtools/form-preview/">{% trans 'Form Wizard (not yet implemented)' %}</a></li>
</ul>
{% endblock %}